body{
    margin: 0;
    padding: 0;
    color: white;
    font-family:  'Shadows Into Light', cursive;
    
}

.images1{
    margin: 8%;
    
}
.description H1{
  
    position: absolute;
    top:45%;  
    right: 43%;
    color: #c62865;
}
.description p{
  
    position: absolute;
    top:55%;  
    margin-left: 38%;
    
}
.form-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .form-container label {
    color: #c62865;
  }
  
  .form {
    border-radius: 5px;
    border: solid 1px  #c62865;
    width: 50%;
    padding: 20px;
    margin-bottom: 40px;
  }
  input[type=button] {
    width: 200px;
    background-color: #c62865;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  input[type=button]:hover {
    background-color: #1f0333;
  }
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
