body {
    margin:0px;
    padding: 0px;
    background-image: url(../img/b1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: #c62865;
    height: 211px;
}
header img{
    position: relative;
    left: 814px;
    top: 81px;
    width: 14%;
    border-radius: 50%;
}
.mySlides img{
    width: 40%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 600px;
    color: black;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 39px;
    left: 174px;
}
  
  
  .active, .dot:hover {
    background-color: #a8025e;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


  #all li img{
    width: 344px;
    height: 340px;
    cursor: pointer;
    margin-bottom: 20px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#all{
list-style-type: none;
  position: relative;
  left: 390px;
  top: 242px;
  display: flex;
  flex-wrap: wrap;
  width: 57%;
}


#all li img:hover{
  -webkit-box-shadow: -1px 0px 21px -8px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 21px -8px rgba(0,0,0,1);
  box-shadow: -1px 0px 21px -8px rgba(0,0,0,1);
}
.navbar{
    list-style-type: none;
    float: right;
    display: flex;
    margin-right: 27px;
    display: flex;
    font-size: 34px;
    font-family: Quesha;
    font-weight: bolder;
}
.navbar li {
    margin-right: 40px;
    cursor: pointer;
}
.navbar li:hover{
    background-image: url(../img/Scribble.png);
    background-size: 100% 39px;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
  position: relative;
  left: 724px;
  top: 244px;
  font-family: Montserrat;
  text-decoration-line: underline;
  width: 37%;
}
.inp-photo{
    position: relative;
    top: 300px;
    left: 586px;
    background: #c62865;
    border-radius: 14px;
    width: 789px;
    height: 371px;
    padding-top: 1pc;
    padding-left: 19px;
    color: white;
    font-family: montserrat;
}
.bod{
  position: relative;
  top: 206px;
}
#re {
  position: absolute;
    left: 1029px;
    top: 806px;
    z-index: 1;
    padding: 15px 25px;
    font-size: 16px;
    width: 170px;
    border-radius: 12px;
    color: #fff;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #2980b9;
}
#re:hover {
    transform: translateY(3px);
    box-shadow: 0 6px #2980b9;
}

#re:actif {
    transform: translateY(7px);
    box-shadow: 0 2px #2980b9;
}
#my-sub {
  position: absolute;
  right: 944px;
  z-index: 1;
  top: 806px;
  padding: 15px 25px;
  font-size: 16px;
  width: 170px;
  border-radius: 12px;
  color: #fff;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 9px #2980b9;
  box-shadow: 0 9px #2980b9;
}

#my-sub:hover {
    transform: translateY(3px);
    box-shadow: 0 6px #2980b9;
}

#my-sub:actif {
    transform: translateY(7px);
    box-shadow: 0 2px #2980b9;
}
#text-img1{
  width: 344px;
  position: relative;
  left: 3px;
  font-family: sans-serif;
  margin-top: -13px;
}
#text-img2{
  font-family: montserrat;
  width: 344px;
  position: relative;
  left: 4px;
  margin-top: -10px;
}
#all li{
  background: white;
  margin-right: 15px;
  margin-bottom: 11px;
  border-radius: 12px;
}
.inp-photo input{
  width: 634px;
  height: 29px;
  border-radius: 5px;
  border: none;
  margin-bottom: 21px;
}

.inp-photo div{
  position: relative;
    left: 73px;
}

footer{
  margin-top: 739px;
  background-color: black;
}
footer div {
  color: white;
  position: relative;
  left: 773px;
  width: 407px;
  font-family:Montserrat;
}
#h {
  text-decoration: none;
  color: black;
}

@media (max-width:500px){
  .navbar{
  list-style-type: none;
    float: right;
    margin-right: 27px;
    display: flex;
    font-size: 34px;
    position: relative;
    font-family: Quesha;
    font-weight: bolder;
    bottom: 23px;
  }
  header img {
    position: relative;
    top: 176px;
    left: 186px;
    width: 24%;
    border-radius: 50%;
}
#all {
  list-style-type: none;
  position: relative;
  left: 27px;
  top: 399px;
  display: flex;
  flex-wrap: wrap;
  width: 57%;
}
footer {
  margin-top: 397px;
  background-color: black;
}
footer div {
  color: white;
    position: relative;
    width: 407px;
    left: 49px;
    font-family: Montserrat;
}
.inp-photo{
  position: absolute;
    top: 307px;
    left: 96px;
    background: #c62865;
    border-radius: 14px;
    width: 290px;
    height: 285px;
    padding-top: 1pc;
    padding-left: 19px;
    color: white;
    font-family: montserrat;
}
body {
  overflow-x: hidden;
}
}

/*************************************************************************/

.all-thing{
    width: 65%;
    position: relative;
    left: 125px;
    top: 125px;
}
audio{
  position: relative;
  left: 218px;
  bottom: 219px;
  outline: none;
}
#z1 {
  position: absolute;
  top: 227px;
  padding: 15px 25px;
  font-size: 16px;
  width: 170px;
  border-radius: 12px;
  color: #fff;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 9px #2980b9;
  box-shadow: 0 9px #2980b9;
  outline: none;
}

#z1:hover {
  transform: translateY(3px);
  box-shadow: 0 6px #2980b9;
}

#z1:actif {
  transform: translateY(7px);
  box-shadow: 0 2px #2980b9;
}
